<div class="screen">
   <div class="toolbar-container">
        <mat-toolbar>
            <button mat-mini-fab class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <span class="username-text">USERNAME</span>
            <div class="image-profile">
                <img src="assets/images/default-profile.jpg" alt="">
            </div>
        </mat-toolbar>
    </div>
    <div class="content">
        <router-outlet/>
    </div>
</div>
